body {
	margin: 0;
	width:100%;
}

div#contenedor {
	margin: 0;
	background-color: #a9e18d;
	margin-top: 0%;
}

.oferta{
	background-color: red;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.error{
	text-align: center;
	font-family: 'Pacifico', cursive;
    font-size: 2.2em; /* Tamaño del texto */
}

.mensaje-error{
	text-align: center;
	font-family: 'Pacifico', cursive;
    font-size: 1.2em; /* Tamaño del texto */
}
.rebaja{
	border-bottom:1px black;
	color: green;
}

.titulo-tienda {
    font-family: 'Pacifico', cursive;
    font-size: 2.2em; /* Tamaño del texto */
    text-align: center; /* Centrar el texto */
	color: green; 
}

.antiguo{
	color: red;
}

.titulo{
	text-align: center;
	font-family: 'Pacifico', cursive;
    font-size: 2.2em; /* Tamaño del texto */
}

header {
	height: 60px;
	background-color: #a9e18d;
	color: white;
	width: 93.7%;
	padding: 40px;
	margin-right:10%;
}

.container{
	background-color: white;
}
.mi-cabecera {
    display: flex;
    justify-content: space-between; /* Alinea los elementos a lo largo del eje principal (horizontal) con espacio entre ellos */
    align-items: center; /* Centra verticalmente los elementos */
	width:95.8%;
	background-color: green;
}

.logo {
    flex: 0.11; /* El logo tomará todo el espacio restante */
}

.imagen-orquidea {
    width: 280px;
}
nav {
    flex: 1; /* La lista de navegación tomará todo el espacio restante */
    text-align: center; /* Alinea los elementos de la lista de navegación al centro */
}
/* Estilos para el título destacado */
.titulo-destacado {
	font-family: 'Pacifico', cursive; /* Utiliza la fuente Pacifico */
    font-size: 2.5em;
    color: green; /* Color blanco */
    text-align: center;
    margin-top: 50px; /* Ajusta según tu preferencia */
}

/* Estilos para la descripción */
.descripcion {
	font-family: 'Pacifico', cursive;
    font-size: 1em;
    color: black; /* Color blanco */
    text-align: justify; /* Justificar el texto */
    margin: 0 auto; /* Centrar horizontalmente */
    margin-bottom: 50px; /* Ajusta según tu preferencia */
}
header a, header a:visited {
	color: white;
	font-weight: bold;
	text-decoration: none;
} 

header a:hover {
	color: red;
	font-weight: bold;
	text-decoration: underline;
} 
/* sidebarIz */
nav {
	padding: 10px;
	float: left;
	width: 18%;
	height: 20%;
	background-color: #a9e18d;
}
/*contenido de la barra lateral (abajo de navegacion)*/
nav a, nav a:visited {
	color: black;
	font-weight: bold;
	text-decoration: none;
} 

nav a:hover {
	color: red;
	text-decoration: underline;
	
} 
/* sidebarder */
aside {
	padding: 10px;
	float: right;
	width: 18%;
	height: 400px;
	background-color: #a9e18d;
}
/* pagina principal (lo de dentro)*/
main {
	padding: 5px;
	float: left;
	min-height:1000px;
	min-height: calc(100vh - 240px);
	width: 60%;
	background-color: white;
}

footer	 {
	clear: both;
	padding: 60px;
	color: white;
	text-align: center;
	background-color: green;
	width:93.7%;
}

div.saludo {
	width: 100%;
	text-align: right;
}

fieldset {
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	margin: auto;
}

fieldset div {
	display: flex;
	justify-content: center;
	flex-grow: 1;
	margin: 5px 0;
}

legend {
	color: #fff;
	background-color: white;
	border: 1px solid black;
	padding: 2px 6px;
} 

label {
	text-align: right;
	margin-right: 0.5em;
	display: block;
}

input[type='text'] {
	display: block;
}

button, a.boton {
	border: 1px solid black;
	font-size: 0.9em;
	font-family: Arial;
	font-weight: 400;
}

a.boton {
	color: inherit;
	text-decoration: none;
	background-color: rgb(239, 239, 239);
	padding: 1px 6px;
	margin: 1px 5px;
}

button, a.boton {
	border: 1px solid black;
	font-size: 0.9em;
	font-family: Arial;
	font-weight: 400;
}

a.boton {
	color: inherit;
	text-decoration: none;
	background-color: rgb(239, 239, 239);
	padding: 1px 6px;
	margin: 1px 5px;
}

.inline {
	display: inline;
}

a.deshabilitado {
	color: rgba(16, 16, 16, 0.3);
}

